


<include file="Common/header" />
   <style type="text/css">
	   .pages a,.pages span {
		   display:inline-block;
		   padding:2px 5px;
		   margin:0 1px;
		   border:1px solid #f0f0f0;
		   -webkit-border-radius:3px;
		   -moz-border-radius:3px;
		   border-radius:3px;
	   }
	   .pages a,.pages li {
		   display:inline-block;
		   list-style: none;
		   text-decoration:none; color:#58A0D3;
	   }
	   .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
		   margin:0;
	   }
	   .pages a:hover{
		   border-color:#50A8E6;
	   }
	   .pages span.current{
		   background:#50A8E6;
		   color:#FFF;
		   font-weight:700;
		   border-color:#50A8E6;
	   }
   </style>
        
        <div id="page-wrapper">
        <div class="graphs">	  
    <div class="content_bottom">
     <div class="col-md-12 span_3">
		  <div class="bs-example1" data-example-id="contextual-table">
		    <table class="table">
		      <thead>
		        <tr style="text-align: center;">

					<form class="form-horizontal" action="" method="get" enctype="multipart/form-data">
						<div class="form-group">
						 <span>
							 <!--<a href="__ROOT__/index.php/Admin/Index/addproduct">添加产品</a>-->
							<span style="margin-left: 100px;">
								订单状态<select style="width: 150px;" name="type">
								<option value="0">全部</option>
								<option value="1">道具</option>
								<option value="2">鱼</option>
							</select>
						<button class="btn-success btn">Submit</button>
							</span>
						</div>

					</form>
		        </tr>
		        <tr>
		          <th>编号</th>
					<th>名称</th>
		          <!--<th style="width: 300px">描述</th>-->
		          <th>图片</th>
					<th>价格(龙币)</th>
					<th>属性</th>
					<th>状态</th>
					<th>操作</th>
		        </tr>
		      </thead>
		      <tbody>	      
		      <?php 
		      		$i = 1;
		      	?>
		      <foreach name="res" item='v'>
		      
		      	<?php 
		      		if(($i%2)==1){
						echo "<tr class='active'>";
					}else{
						echo "<tr class='info'>";
					}
		      	?>
		        
		          <th scope="row">{$v.id}</th>
				  <th>{$v.name}</th>
		          <!--<th style="width: 300px">{$v.cont}</th>-->
		          <th><img src="{$v.pic}" style="width: 70px;"></th>
				  <th>{$v.price}</th>
				  <th><if condition="$v.type eq 1">道具<elseif condition="$v.type eq 2"/>鱼</if></th>
				   <th><if condition="$v.state eq 1">出售中<elseif condition="$v.state eq 2"/>已下架</if></th>
				  <th><a href="__ROOT__/index.php/Admin/Index/editeproduct/id/{$v.id}">修改</a>|<if condition="$v.state eq 1"><a href="javascript:if(confirm('确认下架吗?'))window.location='__ROOT__/index.php/Admin/Index/deleteproduct/id/{$v.id}'">下 架</a><elseif condition="$v.state eq 2"/><a href="javascript:if(confirm('确认上架吗?'))window.location='__ROOT__/index.php/Admin/Index/deleteproduct/id/{$v.id}'">上 架</a></if> </th>
		        </tr>
		      	<?php $i++ ;?>
		       </foreach>		      
		      </tbody>
		    </table>
			  <!--<div class="pages" style="text-align: center">-->
				  <!--{$fenye}-->
			  <!--</div>-->
		   </div>
	   </div>



		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
            <p>Copyright &copy; 2016  All rights reserved.</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
