<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>兑换商品</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/style1.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
	
	<style type="text/css">
	 *{margin:0;padding: 0;font-family: "微软雅黑";}
	 li{list-style-type: none;}
	.code{width: 40%;margin:10px auto;display: block;}	
	
        
	</style>
</head>
<body>
	 <header class="mui-bar mui-bar-nav">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
	  <h1 class="mui-title">玩家充值</h1>
	</header>
	<div class="mui-content">	
		<img src="__ROOT__/Public/Home/img/code.jpg" alt="" class="code">
	</div>

	
	<script src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
	
	   
	</script>
</body>
</html>